<!doctype html>
<html>
  <head>
    <title>SSEKANDI RAYMOND</title>
    <link rel="stylesheet" type="text/css" href="profile.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
<body>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/">Profile</a>
        <a href="about">About Me</a>
        <a href="my-work">My work</a>
        <a href="contact">Contact</a>
        <a href="readMe">Read Me</a>
        <a href="myGames">My Games</a>
    </div>
    <span id="pointer" onclick="openNav()">&#9776</span>
    </div>
    <div id="main">
      <h1 class="header">SSEKANDI RAYMOND</h1>
             {{{body}}}
   <div class="footer">
    <nav class="nav">
        <a href="/"><span>Profile</span></a>
        <a href="about"><span>About Me</span></a>
        <a href="my-work"><span>My work</span></a>
        <a href="contact"><span>Contact me</span></a>
        <a href="readMe"><span>Read me</span></a>
    </nav>
    <p class="footer2">
        ray11@hulks.com<br>
        Proud member of <a href="http://www.dreamersdoers.me/">HULKS</a>&nbsp;and <a target="_blank" href="http://www.bpeace.org/">SSOZI ENT</a><br>
        <span>All content copyright hulks | Made with love in london</span>
    </p>
    </div>
    <script src="profile.js"></script>
    <script src="game1.js"></script>

    <div>
</body>
</html>
