
    <h1 class="header">ABOUT</h1>
    <h2 class="header">My Story</h2>
    <section class="profile-wrap">
         <img src="image/image2.jpeg">
             <div class="text">
                My interest in computers started way back<br> 
                when i was in junia school,<br>
                my sister had a computer, <br>
                which got me so interested to learn what it was doing<br>
                i did my first computer course when i was 14 <br>
                where i learnt about microsoft office<br>
                and some bits of how to use the computer,<br>
                Tried to get on university to do the software eng<br>
                but didnt finish it but gained <br>
                more knowledge about machine language and some bits of coding.<br>
                when i come to uk, decided to polish up my dream to learn coding <br> 
                and with the help <br>
                of CYF i learnt to use web technologies <br> 
                like html css,javascript and many more.<br>
            </div>
    </section>