<section class="profile-wrap">
    <div>
        <h1>Contact me today</h1>
        <p>
            Please feel free to reach out to me if you have any <br>
            questions or comments. Also, <br>
            you could always just send me a friendly hello.<br>   
        </p>
        <h3>Contact Information</h3>
        <p>
            68 nicholas road.<br>
               RM8 3EH         <br>
        <a href="tel:07466682668">746-668-2668</a><br>
        <a href="mailto:raymossekandi@gmail.com">raymossekandi@gmail.com</a>
        </p>
    </div>
<div>
    <form id="form" onsubmit="validator()">
        <label for="name">Name *</label><br>
            <input type="text" id="name" name="contact_name" placeholder=" Your name.."/><br>
        <label for="email">Email *</label><br>
            <input type="text" id="email" name="contact_email" placeholder="Your email.." /><br>
        <label for="contact">Phone number</label><br>
            <input type="text" id="email" name="contact_email" placeholder=" Your contact number.."/><br> 
        <label for="subject">Comment</label><br>
    <textarea id="comment" name="comment" placeholder="Write something.." style="height:200px"></textarea><br>
           <input type="submit" id="submit" value="Submit"/>  
    </form>
</div>
</section>