<div class="profile-wrap text">
    <h2 classs="header">LIST OF ALL MY PROJECTS</h2>
   <ul>
    {{#each data}}
    <li>
        <a href={{{html_url}}} target="_blank">
        {{{name}}}
        </a>
    </li>
    {{/each}}    
    </ul>
</div>