<div class ="makeBlock">
    <p>LETS PLAY SOME MATH</p>
    <p>The first number is</p>
        <p id="firstNb"></p>
    <p>OPERATOR</p>
        <p id="Operator"></p>
    <p>The second number is</p>
        <p id="secondNb"></p>
    <input type="text" name="answer"><br>
    <input type="submit" value="Submit">
</div> 
  