<section class="profile-wrap">
          <img src="image/me.jpg" alt="profile pic">          
            <div>
          <h2 class="text">
              Hello all, am known most as RAY.
              <br>
              I’m a junia developer based in london.</h2>
        <div class="text">
            <p>
                I love creating solutions, and meeting new people. <br>
                As a result, I founded HULKS, A group of junia developers <br>
                dedicated to provide solution to technology problems<br>
            </p>
            <p >
                   Am part time music dj, with mission to give hope <br>
                   and make people happy through music.
            </p>
            <p>
                <strong> 
                    <a href="http://google.com">HULKS,</a> creating solution.
                </strong>
            </p>
             <button class="button" type="button" onclick="location.href='/about';">MORE ABOUT ME!</button>
        </div>
        </div>
    </section>
    <div class="header">
        <h2>
                MY LIFE AS A DJ DEVELOPER.
        </h2>
        <button class="button2" type="button" onclick="location.href='/my-work';">MY LATEST PROJECTS!</button>      
   </div>