#pointer{
    font-size: 47px;
    cursor: pointer;
    position: relative;
    top: 55px;
    right: -34px;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 0px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
img{
    width: 28%;
    float: right;
    margin: 0 0 10px 10px;
    }
.text{
    text-align: center;
    font-family: proxima-nova;
    color: white;
    font-size: 18px;
}
.button{
  text-align: center;
  border-radius: 4px;
  border: 4px solid whitesmoke;
  background: transparent;
  color: white;
  font-size: 30px;
}
.button2{
  text-align: center;
  margin: auto;
  border-radius: 4px;
  border: 4px solid black;
  background: transparent;
  color:black;
  font-size: 30px;
  position:relative;
  top: 27px;
    left: 0em;
}
.profile-wrap{
   background-image: url("image/web.png");
   padding: 35px;
   display: inlineblock;
}
.header{
    text-align: center;
    font-family: proxima-nova;
}
div.header{
       padding: 0px 10% 10%;
}
.footer{
     padding: 3% 10% 1%;
     background:lightsteelblue;
}
.nav{
    width: 32.2em;
	margin: auto;
    text-align: center;
    font-family: proxima-nova;
    padding: 20pxpx 10% 2%;
    ;
}
nav a{
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    color: black;
}
.footer2{
    text-align: center;
    font-family: proxima-nova;
    color: black;
    font-size: 20px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}

li {
    float: left;
    border: 1px solid black;
    
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}